@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::selection {
  background-color: #fcb3bf;
}
.site__width{
  max-width: 68.125rem;
  @apply mx-auto px-5;
}
.btn a{
  @apply inline-block font-bold highlight--font;
  border: 0.0625rem solid;
  border-radius: 0.3125rem;
  padding: 0.75rem 1.182rem;
  margin-top: 0.9375rem;
}
.red--button a{
  background-color: #D90A2C;
  border-color: #D90A2C;
  color: #fff;
}
.subscribe__btn a{
  background-color: #c80700;
  border-color: #c80700;
  color: #ffffff;
}
.space-font{
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.highlight--font{
  @apply space-font font-bold;
}
.main__grid{
  @apply grid;
  grid-template-columns: repeat(1, 1fr);
}
.banner__grid-lg{
  grid-template-columns: 57.392% 42.308%;
}
.grid__2{
  grid-template-columns: repeat(2, 1fr);
}
.grid__3{
  grid-template-columns: repeat(3, 1fr);
}
.grid__4{
  grid-template-columns: repeat(4, 1fr);
}
.grid__5{
  grid-template-columns: repeat(5, 1fr);
}
.grid__6{
  grid-template-columns: repeat(6, 1fr);
}
p{
  @apply my-2.5;
  line-height: 1.65;
}
.white-bg{
  @apply bg-white;
}
html {
    @apply text-base scroll-smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ex__large__text{
  font-size: 3.3203125rem;
  line-height: 1.049999058823529;
  letter-spacing: -0.06640625rem;
}
.large__text{
  font-size: -webkit-calc(36px + 4 * ( (100vw - 576px) / 1024));
  font-size: calc(36px + 4 * ( (100vw - 576px) / 1024));
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -0.025rem;
}
.large__text--resposive{
  font-size: 2.5rem;
}
.small__text{
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.65;
  font-weight: 500;
  margin-bottom: 0.9375rem;
  color: rgba(35, 34, 38, 0.8);
}
.smaller__link--text{
  font-size: 0.94rem;
  line-height: 1.4;
  font-weight: 500;
}
.text__base{
  font-size: 1rem;
  line-height: 1.65;
}
.lg--text{
  font-size: -webkit-calc(24px + 2 * ( (100vw - 576px) / 1024));
  font-size: calc(24px + 2 * ( (100vw - 576px) / 1024));
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.01625rem;
}
.lg--text--responsive{
  font-size: 1.625rem;
}
/*===== Header Styling =====*/
.desktop__header{
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
.scrollSticky.desktop__header{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.scrollSticky.addScroll.desktop__header{
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: 1000;
  -webkit-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.desktop__header .site__logo{
  width: 15.0625rem;
  height: 2.5rem;
  position: relative;
}
.site__logo:hover{
  opacity: .65;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.site__logo a.logo__link{
  @apply block leading-none my-2;
  width: 7rem;
}
.desktop__header .site__logo img{
  @apply w-full;
}
.header__wrap--inner {
  @apply flex items-center justify-between;
  padding: 0 4.4vh;
  /* min-height: 5.75rem; */
}
.scrollSticky.addScroll.desktop__header .header__wrap--inner{
  height: auto;
  min-height: 9vh;
}
.site__navigation ul {
  @apply flex items-center;
  margin-right: 1rem;
  padding-right: 2vw;
}
nav.site__navigation {
  @apply flex;
}
.site__navigation ul:hover{
  opacity: 0.5;  
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.site__navigation ul li a {
  @apply flex items-center text-base font-medium;
  padding: 0 1.3vw;
}
.subscribe__btn a {
  @apply rounded-md font-bold highlight--font flex items-center leading-none mt-0 border-0;
  padding-left: 0.978rem;
  padding-right: 0.978rem;
  padding-top: 0.541rem;
  font-weight: 700;
  font-size: 0.96rem;
  padding-bottom: 0.75rem;
}
.red--button a span{
  @apply mr-2;
}
.subscribe__btn a:hover,
.red--button a:hover{
  @apply text-white;
}
.red--button a:hover svg {
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
/*===== Banner styling =====*/
.style--banner{
  @apply px-5;
}
.services__page .style--banner, .contact__page .style--banner, .blog__page .style--banner{
  min-height: 34.375rem;
  display: flex;
  align-items: center;
}
.style--banner, .subscribe__bg{
  @apply relative bg-no-repeat text-white bg-cover bg-center;
}
.style--banner:before,
.subscribe__bg:before{
  content: '';
  @apply inset-0 absolute;
  background-color: transparent;
  background-image: linear-gradient(90deg, #000000 0%, #00000066 100%);
  opacity: 0.64;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.banner--style-1{
  background-image: url(/images/home-banner.jpg);
  padding: 4.5% 0% 0.5% 0%;
  background-position-x: 50%;
}
.banner--style-2{
  background-image: url(/images/exclusive--banner.jpg);
}
.servcies--banner{
  background-image: url(/images/servcies-banner.jpg);
}
.contact--banner{
  background-image: url(/images/contact-banner.jpg);
}
.speech--banner{
  background-image: url(/images/speech--bubbles.jpg);
}
.executives--banner{
  background-image: url(/images/experts.jpg);
  padding-top: 8.564%;
}
.blog--banner{
  background-image: url(/images/blog.jpg);
}
.blog--banner:before,
.executives--banner:before{
  background-color: transparent;
}
.executives--banner .banner__content{
  margin-top: 0;
}
.servcies--banner:before{
  opacity: 0;
}
.banner__wrapper{
  @apply py-5 main__grid relative mx-auto px-5 w-full; 
  padding-right: 0;
  max-width: 68.125rem;
}
.banner__content{
  margin-top: 7vh;
  margin-bottom: 7vh;
}
.banner--style-1 .banner__content{
  margin-top: 0;
  margin-bottom: 0;
}
.banner__subtitle{
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.65;
  color: rgba(249, 249, 249, 0.75);
}
.banner__title {
  @apply mb-5 mt-5;
}
.servcies--banner .banner__title{
  max-width: 30rem;
}
.banner__title h3 {
  font-weight: 700;
  font-size: -webkit-calc(40px + 14 * ( (100vw - 576px) / 1024));
  font-size: calc(40px + 14 * ( (100vw - 576px) / 1024));
  line-height: 1.05;
  letter-spacing: -0.02em;
}
.banner__text p{
  @apply text__base my-2.5;
}
.banner__right--image {
  @apply mt-12 relative;
  /* max-height: 25.0625rem; */
}
.banner__right--image > span{
  max-width: 85% !important;
  right: 0 !important;
  left: inherit !important;
  width: 100% !important;
}
.style--banner .logo--slider{
  padding-bottom: 2%;
  margin-left: -4%;
  margin-right: -4%;
}
.slider__title {
  color: #fff;
  font-weight: 600;
  z-index: 999;
  position: relative;
  font-size: 1.25rem;
  padding-bottom: 1.125rem;
}
.slider__title h5{
  letter-spacing: -0.01em;
}
.react-multi-carousel-item  {
  @apply px-0 text-center;
}
.react-multiple-carousel__arrow{
  @apply hidden;
}

/* Sections styling */
.section{
  @apply p-5;
  margin: 3.125rem 0;
}
.services__page .section:not(.siteFooter) {
  @apply my-0;
  padding-top: 8vh;
  padding-bottom: 8vh;
}
.section.has--bg{
  margin: 0;
}
.section.has--no--bg{
  background: none;
}
.section--hgroup{
  @apply mb-5;
}
.subtitle.section--subtitle h3 {
  @apply small__text;
}
.subtitle.section--subtitle h3.cate__subtitle{
  text-transform: none;
}
.services__page .subtitle.section--subtitle h3{
  color: #A4A3A6;
}
.title.section--title p{
  @apply large__text;
}
.banner__content .subtitle.section--subtitle h3{
  @apply text-white;
}

/* Text section */


/* Featured sections */
.feed--lists {
  @apply main__grid;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}
.feed--items--wrapper {
  @apply rounded-md overflow-hidden relative h-full;
  background: #f9f9f9;
}
.feed--items--wrapper:hover{
  @apply text-white;
}
.feed--item--image {
  @apply absolute inset-0 opacity-0;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.feed--item--image:after{
  content: "";
  position: absolute;
  background-color: rgba(23, 22, 26, 0.45);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.feed--item--image span {
  height: 100% !important;
  width: 100% !important;
}
.feed--item--image img {
  height: 100%;
  width: auto;
  left: 50% !important;
  transform: translateX(-50%);
  max-width: inherit;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.feed--item--content {
  @apply relative;
}
.feed--items--wrapper:hover .feed--item--image {
  opacity: 1;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.feed--hgroup {
  display: grid;
  grid-template-columns: 2.875rem auto;
  column-gap: 0.9375rem;
  padding: 4.4vh;
}
.feed--logo {
  width: 3rem;
}
.feed--logo img{
  @apply w-full rounded-full;
}
p.meta--author,
p.meta--date,
.feed--category a {
  @apply smaller__link--text m-0;
}
.feed--text--wrap {
  padding: 0 4.4vh 4.4vh;
}
.feed--category a:hover{
  color: #c80700;
}
.feed--text{
  @apply mt-2.5;
}
.text--headline{
  @apply lg--text;
}
.text--headline a:hover{
  color: #fff;
}
.text--content{
  @apply mt-2.5 mb-0;
}

/* Feed style -2 */
.feed--section--style-2 .feed--lists{
  column-gap: 1.25rem;
  row-gap: 1.25rem;
}
.feed--section--style-2 .feed--items{
  background-color: #f9f9f9;
  padding: 2.1875rem;
  border-radius: 0.4375rem;
}
.feed--section--style-2 .feed--hgroup {
  padding: 0 0 1.25rem 0;
}
p.meta--desc {
  margin: 0;
  font-weight: 600;
  max-width: 14rem;
  line-height: 1.65rem;
}
.feed--section--style-2 .feed--text--wrap {
  padding: 0;
}
.feed--section--style-2 .feed--items--wrapper {
  background: none;
}
.feed--section--style-2 .feed--items--wrapper:hover {
  color: inherit;
}
.feed--section--style-2 .text--content{
  margin-bottom: 0.625rem;
}


/* Infographic section */
.infographic__list {
  @apply main__grid;
  column-gap: .83rem;
  row-gap: .83rem;
  margin-top: 3rem;
}
.infographic__list--item {
  background: #f9f9f9;
  border-radius: 0.4375rem;
  padding: 0.625rem;
}
.infographic__icon {
  margin-bottom: 1.438rem;
  width: 3.125rem;
  height: 3.125rem;
  margin-top: 0.5rem;
}
.infographic__title {
  margin: 0.325rem 0;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
}
.services__page .infographic__title{
  @apply lg--text;
}
.services__page .infographic__content p{
  margin-top: 0.9375rem;
  margin-bottom: 1.25rem;
  font-size: 0.94rem;
  padding-right: 0.125rem;
}

/* Two column section */
.two--column--section{
  background-color: #f9f9f9;
}
.two--column--section.has--bg{
  padding-top: 8vh;
  padding-bottom: 7vh;
}
.two--column--section.has--bg .btn{
  padding-top: 0.625rem;
}
.two--column--section .section__wrapper{
  @apply main__grid py-5;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}
.section--column__content.bg-white{
  padding: 0.9375rem;
  border-radius: 0.4375rem;
}
.meta--author--image {
  width: 3.75rem;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  height: 3.75rem;
  margin-bottom: .9375rem;
}
.meta--author--image span {
  width: 100% !important;
  height: 100% !important;
}
.meta--author--image img {
  width: 100%;
}

/* Blockquote */
.blockquote__title {
  margin: 0.3125rem 0;
  font-weight: 600;
  font-size: 1.116rem;
}
blockquote p{
  @apply mt-0 mb-10;
  font-size: 1.0625rem;
}
blockquote p:last-child{
  @apply mb-5;
}
p.author--name {
  font-size: 1.05em;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: 700;
  margin: 0;
}
p.author-desi {
  margin: 0;
}


/* Subscribe */
.subscribe__bg{
  background-image: url(/images/oh__img147.jpg);
  @apply text-white bg-center;
}
.subscribe__bg:before{
  background: #000;
  opacity: 0.7;
}
.subscribe__bg .section__wrapper{
  @apply relative;
}
.subscribe__bg .subtitle.section--subtitle h3{
  color: #fff;
}

/* Footer Css */
.site-info-holder a, .site-info-holder .left {
  font-size: 0.94rem;
  line-height: 1.65;
}
.siteFooter{
  background-color: #17161a;
  @apply py-0 relative;
}
.site-footer .page-container + .site-info .site-info-holder {
  border-top: 1px solid rgba(136, 136, 136, 0.15);
}
.site-footer .site-info-holder {
  padding-top: 0.68rem;
  padding-bottom: 0.68rem;
}
.footerCol ul li a{
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  color: rgba(255,255,255,0.8);
  display: block;
}
.footerCol ul li a span {
  width: 100% !important;
  height: 100% !important;
}
.site__navigation ul li a.active,
a:hover{
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  color: #d90a2c;
}
.site-info-holder{
  color: rgba(255,255,255,0.8);
  border-top: 0.0625rem solid rgba(136, 136, 136, 0.15);
  padding-top: 3.4vh;
  padding-bottom: 3.4vh;
}
.site-info-holder a:hover{
  color: #c80700;
}
/* .footerCol{
  padding-bottom: .338rem;
} */
.footerCol p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding-top: 3.4vh;
  padding-bottom: 0.3125rem;
  color: rgba(255,255,255,0.8);
}
.title.widget-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  line-height: 1.65;
  color: #6a696c;
}
.footerLogo{
  @apply relative;
  width: 15.0625rem;
  height: 2.5rem;
  margin-bottom: 0.8rem;
  margin-top: -0.125rem;
}
.footerLogo img{
  @apply w-full;
  max-width: 15rem;
}
ul.footerNav li a {
  color: #fff;
}
.textwidget.custom-html-widget {
  color: rgba(255,255,255,0.8);
}
.socialIcon {
  @apply flex;
}
.socialIcon li {
  @apply w-8;
  width: 2rem;
  margin: 0.125rem;
}
.socialIcon li a img{
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  width: 100% !important;
}
.socialIcon li a:hover img{
  opacity: .5;
}
.divideFooter{
  @apply main__grid;
  column-gap: 2.555rem;
  row-gap: 2.555rem;
  padding-top: 8.8vh;
  padding-bottom: 8.8vh;
}
.footerCol ul li{
  line-height: 1.65;
}
.footerCol ul li a:hover{
  opacity: 0.5;
}


/* Contact form styling */
.form--label label {
  @apply block font-medium mb-2.5;
  font-size: 0.93rem;
}
.form--label label span.required{
  color: #f00;
}
.form--control {
  @apply w-full text-base;
  background-color: #f9f9f9;
  border: 0.0625rem solid #818a91;
  padding: 0.875rem 0.9375rem;
  border-radius: 0.4375rem;
}
.form--control:focus{
  -webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 10%) inset;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
  outline: none;
}
.contact__page .form--control{
  background-color: transparent;
}
.services__page .form--control{
  border-color: #E1E1E1;
}
.executives__page .form--control{
  @apply border-0;
}
.services__page .form--label label span.required,
.executives__page .form--label label span.required{
  @apply hidden;
}
.form--item {
  @apply mb-2.5;
}
.form--item.form--item--textarea .form--control {
  height: 9.375rem;
}
.form__item--grid {
  @apply main__grid;
  column-gap: 0.625rem;
}
.form--checkbox--label {
  font-size: 0.93rem;
  font-weight: 500;
}
input[type="checkbox"] {
  margin: 0 .5rem 0 0;
}
.form--actions button {
  @apply text-white font-bold px-4 leading-none w-full;
  background: #c80700;
  border-radius: 0.4375rem;
  transition: 0.3s;
  font-size: 0.9375rem;
  padding-top: 0.782rem;
  padding-bottom: 0.782rem;
}
.form--actions button:hover {
  opacity: 0.85;
}

/* Mobile Header css */
.mobile__header{
  position: relative;
}
.mobile__header .site__logo{
  @apply ml-10;
}
/* Burger menu css */
 /* Position and sizing of burger button */
 .bm-burger-button {
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  left: 2.5%;
  top: 0.6rem;
}
.bm-burger-button > span{
  @apply h-full;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
.bm-burger-bars:first-child{
  @apply hidden;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #000;
  height: 17px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100% !important;
  left: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 100% !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}
.bm-item li a{
    padding: .5rem 0;
    display: block;
    color: #000;
    font-weight: 700;
}
.bm-item li a:hover,
.bm-item li a.active{
    color: #d90a2c;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}
.bm-item.copyright {
  font-weight: 400;
  font-size: 0.94rem;
  margin-top: 20px;
  white-space: pre-wrap;
  color: #000000;
}

/* Animated circle cursor */
.cursor {
  margin-left: -.25rem;
  margin-top: -.25rem;
  width: 2.75rem;
  height: 2.75rem;
  border: 0.125rem solid #d90a2c;
  box-sizing: border-box;
  z-index: 9999999;
  transition: all .1s ease-out;
  /* mix-blend-mode: difference; */
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  display: none;
}
.cursor:after{
  content: '';
  width: 0.375rem;
  height: 0.375rem;
  background-color:#d90a2c;
  box-sizing: border-box;
  z-index: 9999999;
  transition: all .2s ease-out;
  /* mix-blend-mode: difference; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.cursor--link.cursor:after{
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5 !important;
}


/*content list */
.mt-3vh{
  margin-top: 4vh;
}
.content--list{
  padding-top: 0.625rem;
}
.content--list li{
  @apply font-medium flex items-center;
  padding: 0.28125rem 0;
  line-height: 1.65;
}
.content--list li:first-child{
  padding-top: 0;
}
.content--list li:before{
  content: '';
  width: 0.5rem;
  margin-right: 1rem;
  height: 0.875rem;
  display: block;
  border: solid #c80700;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(45deg);
}

.section--small-width{
  max-width: 37rem;
}
.section--ex--small-width{
  max-width: 30rem;
}
.infographic__list.full__width--list {
  grid-template-columns: repeat(1, 1fr);
}
.infographic--style-2{
  background: #f9f9f9;
}
.services__page .infographic--style-2.section{
  padding-bottom: 12vh;
}
.infographic--style-2 .infographic__list {
  grid-template-columns: repeat(1, 1fr);
  row-gap: 4vh;
  margin-top: 1.875rem;
}
.services__page .infographic__list {
  margin-top: 1.875rem;
  column-gap: 1.25rem;
}
.services__page .infographic__list--item{
  padding: 4.4vh;
}
.infographic--style-2 .infographic__list--item{
  background: #fff;
}
.services__page .infographic--section .section--title p{
  margin-bottom: 0;
}

/* Accordian styling */
.faqs--section.section.has--bg{
  padding-top: 8vh;
  padding-bottom: 7vh;
}
.accordian--list{
  margin-top: 1.25rem;
}
.accordian--list li{
  margin-bottom: 0.625rem;
}
.accordian--list li .accor-head{
  background: #fff;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  font-weight: 500;
  cursor: pointer;
}
.accordian--list li .accor-head p{
  width: 100%;
  font-weight: 800;
  line-height: 1.3;
  min-height: 3.375rem;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.05rem;
  padding: 0.9375rem 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.accordian--list li .accor-head p:after{
  content: '+';
  font-size: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  font-weight: 400;
  line-height: 1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordian--list li .accor-head p.active:after{
  content: '-';
}
.accordian--list li .accor-head:hover p:after{
  background: rgba(136, 136, 136, 0.05);
  color: #c80700;
} 
.accordian--list .accor-data {
  margin-top: 0.25rem;
  border-radius: 0.75rem;
  color: #222;
  font-weight: 500;
  padding-right: 3.5rem;
  padding-left: 2rem;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .5s ease;
}
.accor-data p span{
  font-weight: 700;
}
.accor-data p a {
  font-weight: bold;	
  color: #c80700;
}
.accor-data p a:hover {
  color: #000;
}
.accordian--list .active--list .accor-data{
  height: fit-content;
  opacity: 1;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.accor-data ol {
  list-style: disc;
  margin-left: 1em;
  margin-bottom: 1.5rem;
}
.accor-data ol li {
  margin-top: 0;
  margin-bottom: 0.75rem;
  line-height: 1.75;
}

/* Banner logo wrapper without slider */
.services__page .style--banner.speech--banner{
  @apply block;
  padding-top: 3.5%;
}
.speech--banner .banner__title h3{
  @apply large__text;
}
.logo__wrapper .banner__logo--lists ul{
  @apply main__grid pb-5;
  column-gap: 1.25rem;
  row-gap: 1.25rem;
}
.logo__wrapper .banner__logo--lists ul li{
  @apply relative w-full py-10;
  height: 11.125rem;
}
.logo__wrapper .banner__logo--lists ul li a {
  position: relative;
  display: block;
  width: 16.1875rem;
  height: 100%;
  margin: auto;
}
.services__page .style--banner.speech--banner .banner__content {
  margin-top: 0;
}
.services__page .style--banner.speech--banner .banner__wrapper {
  padding-top: 0;
}
/* .services__page .style--banner.speech--banner .banner__title.title {
  margin-top: 0;
} */

@keyframes logoFadeUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-webkit-calc(-100% - 25px));
            transform: translateY(calc(-100% - 25px));
    opacity: 1; }
  51% {
    -webkit-transform: translateY(-webkit-calc(-100% - 25px));
            transform: translateY(calc(-100% - 25px));
    opacity: 0; }
  52% {
    -webkit-transform: translateY(-webkit-calc(100% + 25px));
            transform: translateY(calc(100% + 25px)); }
  86% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); 
    } 
}
.logo__wrapper .banner__logo--lists ul li a:hover img{
  -webkit-animation: logoFadeUp cubic-bezier(0.4, 0, 0.2, 1) 0.75s 1;
    animation: logoFadeUp cubic-bezier(0.4, 0, 0.2, 1) 0.75s 1;
}

.back__top--btn {
  @apply fixed w-16 h-16 opacity-0;
  bottom: 1.25rem;
  right: 3rem;
  transition: 0.3s;
}
.show--top--btn .back__top--btn{
  opacity: 1;
}

/* Policy Css Start */
.policy__page .section{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-top: 0;
}
.policy__page .title.section--title p{
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
}
.innerTitle{
  @apply font-bold text-base;
}
ul.terms li {
  padding: 0.313rem 0;
}
.terms {
  list-style: disc;
  list-style-position: inside;
}
ol.terms {
  list-style: none;
}
ol.terms li {
  padding-left: 1rem;
  position: relative;
}
ol.terms li:before {
  content: '';
  width: 0.75rem;
  height: 0.0625rem;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}


/* Category pages css */
.category__page .section{
  @apply my-0;
  padding-top: 7.2vh;
  padding-bottom: 7.2vh;
}
.title.section--title p.cate__title {
  font-size: -webkit-calc(46px + 26 * ( (100vw - 576px) / 1024));
  font-size: calc(46px + 26 * ( (100vw - 576px) / 1024));
  letter-spacing: -0.03em;
  line-height: 1;
}
.subtitle.section--subtitle h3.cate__subtitle{
  text-transform: none;
  font-size: 1.0625rem;
}

.sidebar__grid {
  padding-top: 8.8vh;
  padding-bottom: 8.8vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  row-gap: 3.125rem;
}

.pageSidebar.bg-gray {background-color: rgba(136, 136, 136, 0.05);
  padding: 4.4vh;
}

h4.formTitle {
  color: #000;
  font-family: Montserrat,sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0.625rem 0;
  text-align: left;
  word-break: break-word;
}
.sidebar_form--desc{
  color: #000;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375em;
}
.sidebar_form form{
  @apply mb-10;
}
.sidebar_form form input.form--control {
  font-size: 0.875rem;
  line-height: 1.5em;
  padding: 0.625rem;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  border-radius: 0.25rem;
  border-color: #ccc;
  background: #fff;
}
.sidebar_form form.cate__search--form input.form--control {
  border-color: #949494;
}
.sidebar_form form .form--item.form--item--checkbox {
  position: relative;
  padding-left: 1.25rem;
}
.sidebar_form form .form--item.form--item--checkbox input[type="checkbox"]{
  @apply absolute left-0;
  top: 0.25rem;
}
.sidebar_form form .form--item.form--item--checkbox label{
  color: #000;
  display: block;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  font-size: 0.75rem;
  text-align: left;
  margin-bottom: 0;
  position: relative;
}
.sidebar_form form .form--actions button{
  max-width: inherit;
  margin-bottom: 1.25rem;
}
h4.sidebar--title {
  font-size: -webkit-calc(19px + 1 * ( (100vw - 576px) / 1024));
  font-size: calc(19px + 1 * ( (100vw - 576px) / 1024));
  line-height: 1.3;
  font-weight: 800;
  margin-bottom: 3.4vh;
}
.cate__lists--block {
  margin-bottom: 3.4vh;
}
.cate__lists li{
  padding: 0.3125rem 0;
}
.cate__lists li a{
  padding: 0.3125rem 0;
  line-height: 1.65;
}
.cate__lists li.active--cate a{
  font-weight: 600;
}
.cate__comment--block .sidebar--title{
  margin: 0;
}
.cate__comment--block p.noCmnt{
  margin: 0;
}
.category__page .feed--item--image{
  @apply relative overflow-hidden opacity-100 w-full;
  padding-bottom: 100%;
  transition: none;
  transform: none;
}
.category__page .feed--item--image img{
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.category__page .feed--items--wrapper:hover .feed--item--image{
  transform: none;
}
.category__page .feed--items--wrapper:hover .feed--item--image img{
  transform: translateX(-50%) scale3d(1.1, 1.1, 1);
}
.category__page .feed--item--content{
  position: unset;
}
.category__page .feed--hgroup{
  @apply opacity-0 absolute top-0 left-0 right-0;
  transition: 0.5s;
}
.category__page .feed--items--wrapper:hover .feed--hgroup{
  @apply opacity-100;
}
.category__page .feed--text--wrap{
  padding-top: 4.4ch;
}
.category__page .feed--items--wrapper:hover .feed--text--wrap{
  color: #000;
}
.category__page .feed--items--wrapper .text--headline{
  transition: .5s;
}
.category__page .feed--items--wrapper .text--headline:hover,
.category__page .feed--items--wrapper:hover .text--headline{
  color: #a90000;
}
.category__page .feed--items{
  @apply main__grid;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}


/* Responsive styling */
@media screen and (max-width: 47.999rem) {
  .desktop__header{
    @apply hidden;
  }
}
@media screen and (min-width: 30rem){
  .logo__wrapper .banner__logo--lists ul{
    @apply grid__2;
  }
  .mobile__header .site__logo{
    @apply ml-12;
  }
  .site__logo a.logo__link{
    @apply w-auto my-0;
  }
}
@media screen and (min-width: 48rem){
  .banner__wrapper{
    @apply banner__grid-lg;
  }
  .infographic--section .section--content{
    max-width: 88.076%;
  }
  .infographic__list, .divideFooter{
    @apply grid__2;
  }
  .mobile__header{
    @apply hidden;
  }
  .form__item--grid {
    @apply grid__2;
  }
  .header__wrap--inner{
    padding-bottom: 4.4vh;
    padding-top: 4.4vh;
    flex-wrap: wrap;
  }
  .banner__right--image {
    @apply flex justify-end mt-0 mb-0 relative;
    /* max-height: 25.0625rem; */
  }
  .banner__right--image > span{
    max-width: 100% !important;
    right: -0.1875rem !important;
  }
  .contact__page .banner__wrapper{
    @apply main__grid;
  }
  .contact__page .banner__content{
    max-width: 42.921%;
  }
  .form--actions button {
    max-width: 20%;
  }
  .contact__page .form--actions button {
    max-width: 100%;
  }
  .sidebar__grid {
    grid-template-columns: calc(25% - 50px) 75%;
  }
  .category__page .feed--items{
    @apply grid__3;
  }
}
@media screen and (min-width: 60rem){
  .banner__content {
    max-width: 45.6rem;
  }
  .blog__page .banner__content{
    max-width: 47rem;
  }
  .feed--lists{
    @apply grid__3;
  }
  .infographic__list, .divideFooter{
    @apply grid__4;
  }
  .two--column--section .section__wrapper{
    @apply grid__2;
  }
  .infographic--style-3 .infographic__list{
    @apply grid__3;
  }
  .logo__wrapper .banner__logo--lists ul{
    @apply grid__4;
  }
}
@media screen and (min-width: 64rem) {
  .header__wrap--inner{
    height: 14vh;
    padding-bottom: 0;
    padding-top: 0;
  }
  .cursor {
    @apply block;
  }
  p.meta--desc {
    font-size: 1.25rem;
  }
  .banner__right--image > span{
    max-width: 57% !important;
  }
  .banner__logo--slider {
    margin-top: 3.25rem;
  }
}
@media screen and (min-width: 68.75rem){
  .contact__page .banner__wrapper,
  .contact__page .site__width,
  .services__page .banner__wrapper,
  .services__page .site__width,
  .blog__page .banner__wrapper,
  .executives__page .site__width{
    @apply p-0;
  }
  .contact__page .siteFooter .site__width,
  .services__page .siteFooter .site__width,
  .executives__page .siteFooter .site__width{
    @apply px-5;
  }
}
@media screen and (min-width: 80.0625rem){
  .site__width, .banner__wrapper{
    max-width: 73.75rem;
  }
}
@media screen and (min-width: 85.4375rem){
  .site__width, .banner__wrapper{
    max-width: 81.25rem;
  }
}
@media screen and (min-width: 100rem){
  .banner__title h3 {
    font-size: 3.375rem;
  }
  .text--headline,
  .services__page .infographic__title{
    @apply lg--text--responsive;
  }
  .speech--banner .banner__title h3,
  .title.section--title p{
    @apply large__text--resposive;
  }
  .title.section--title p.cate__title {
    font-size: 4.5rem;
  }
  h4.sidebar--title {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 121rem){
  html{
    font-size: 1vw;
  }
}
@media screen and (min-width: 64rem) and (max-width:81.5rem){
  .banner__right--image > span{
    height: 336px !important;
  }
  .banner--style-1{
    padding-top: 5.25%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1085.5px){
  .banner__logo--slider{
    margin-top: 2.25rem;
  }
}
.react-multi-carousel-item > div > span{
  display: flex;
  align-items: center;
}



/* Executive Service Css */
.section--column__content .banner__right--image{
  @apply justify-center;
}
.executives__page .banner__logo--slider{
  margin-top: 1.75rem;
}
.banner__logo--slider h6{
  font-size: 1.05rem;
  font-weight: 500;
}

/* Benefits CSS */
.testimonial{
  @apply flex items-center;
  background: #F9F9F9;
  border-radius: 0.438rem;
}
.testimonial .clientImg{
  padding: 0.625rem;
  max-width: 17.794%;
  @apply w-full;
}
.testimonial .clientImg img{
  border-radius: 0.438rem;
}
.clientFeedback{
  padding: 0.625rem;
}
.clientFeedback p{
  font-size: 1.125rem;
  line-height: 1.856rem;
}

/* Faq CSS */
.has--bg--gray {
  background: #f9f9f9;
}