@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

::selection {
  background-color: #fcb3bf;
}
.site__width{
  max-width: 68.125rem;
  @apply mx-auto px-5;
}
.btn a{
  @apply inline-block font-bold highlight--font;
  border: 0.0625rem solid;
  border-radius: 0.3125rem;
  padding: 0.75rem 1.182rem;
  margin-top: 0.9375rem;
}
.red--button a{
  background-color: #D90A2C;
  border-color: #D90A2C;
  color: #fff;
}
.subscribe__btn a{
  background-color: #c80700;
  border-color: #c80700;
  color: #ffffff;
}
.space-font{
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.highlight--font{
  @apply space-font font-bold;
}
.main__grid{
  @apply grid;
  grid-template-columns: repeat(1, 1fr);
}
.banner__grid-lg{
  grid-template-columns: 57.392% 42.308%;
}
.grid__2{
  grid-template-columns: repeat(2, 1fr);
}
.grid__3{
  grid-template-columns: repeat(3, 1fr);
}
.grid__4{
  grid-template-columns: repeat(4, 1fr);
}
.grid__5{
  grid-template-columns: repeat(5, 1fr);
}
.grid__6{
  grid-template-columns: repeat(6, 1fr);
}
p{
  @apply my-2.5;
  line-height: 1.65;
}
.white-bg{
  @apply bg-white;
}
html {
    @apply text-base;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ex__large__text{
  font-size: 3.3203125rem;
  line-height: 1.049999058823529;
  letter-spacing: -0.06640625rem;
}
.large__text{
  font-size: -webkit-calc(36px + 4 * ( (100vw - 576px) / 1024));
  font-size: calc(36px + 4 * ( (100vw - 576px) / 1024));
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -0.025rem;
}
.large__text--resposive{
  font-size: 2.5rem;
}
.small__text{
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.65;
  font-weight: 500;
  margin-bottom: 0.9375rem;
  color: rgba(35, 34, 38, 0.8);
}
.smaller__link--text{
  font-size: 0.94rem;
  line-height: 1.4;
  font-weight: 500;
}
.text__base{
  font-size: 1rem;
  line-height: 1.65;
}
.lg--text{
  font-size: -webkit-calc(24px + 2 * ( (100vw - 576px) / 1024));
  font-size: calc(24px + 2 * ( (100vw - 576px) / 1024));
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.01625rem;
}
.lg--text--responsive{
  font-size: 1.625rem;
}
/*===== Header Styling =====*/
.desktop__header{
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
.scrollSticky.desktop__header{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.scrollSticky.addScroll.desktop__header{
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: 1000;
  -webkit-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.desktop__header .site__logo{
  width: 15.0625rem;
  height: 2.5rem;
  position: relative;
}
.site__logo:hover{
  opacity: .65;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.site__logo a.logo__link{
  @apply block leading-none;
}
.desktop__header .site__logo img{
  @apply w-full;
}
.header__wrap--inner {
  @apply flex items-center justify-between;
  padding: 0 4.4vh;
  /* min-height: 5.75rem; */
}
.scrollSticky.addScroll.desktop__header .header__wrap--inner{
  height: auto;
  min-height: 9vh;
}
.site__navigation ul {
  @apply flex items-center;
  margin-right: 1rem;
  padding-right: 2vw;
}
nav.site__navigation {
  @apply flex;
}
.site__navigation ul:hover{
  opacity: 0.5;  
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.site__navigation ul li a {
  @apply flex items-center text-base font-medium;
  padding: 0 1.3vw;
}
.subscribe__btn a {
  @apply rounded-md font-bold highlight--font flex items-center leading-none mt-0 border-0;
  padding-left: 0.978rem;
  padding-right: 0.978rem;
  padding-top: 0.541rem;
  font-weight: 700;
  font-size: 0.96rem;
  padding-bottom: 0.75rem;
}
.red--button a span{
  @apply mr-2;
}
.subscribe__btn a:hover,
.red--button a:hover{
  @apply text-white;
}
.red--button a:hover svg {
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
/*===== Banner styling =====*/
.style--banner{
  @apply px-5;
}
.style--banner, .subscribe__bg{
  @apply relative bg-no-repeat;
}
.style--banner:before,
.subscribe__bg:before{
  content: '';
  @apply inset-0 absolute;
  background-color: transparent;
  background-image: linear-gradient(90deg, #000000 0%, #00000066 100%);
  opacity: 0.64;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.banner--style-1{
  @apply text-white bg-cover;
  background-image: url(/images/home-banner.jpg);
  padding: 4.5% 0% 0.5% 0%;
  background-position-x: 50%;
}
.banner--style-2{
  @apply text-white bg-cover;
  background-image: url(/images/exclusive--banner.jpg);
}
.servcies--banner{
  @apply text-white bg-cover;
  background-image: url(/images/servcies-banner.jpg);
}
.servcies--banner:before{
  opacity: 0;
}
.banner__wrapper{
  @apply py-5 main__grid relative mx-auto px-5; 
  padding-right: 0;
  max-width: 68.125rem;
}
.banner__content{
  margin-top: 7vh;
  margin-bottom: 7vh;
}
.banner--style-1 .banner__content{
  margin-top: 0;
  margin-bottom: 0;
}
.banner__title {
  @apply mb-5 mt-5;
}
.servcies--banner .banner__title{
  max-width: 30rem;
}
.banner__title h3 {
  font-weight: 700;
  font-size: -webkit-calc(40px + 14 * ( (100vw - 576px) / 1024));
  font-size: calc(40px + 14 * ( (100vw - 576px) / 1024));
  line-height: 1.05;
  letter-spacing: -0.02em;
}
.banner__text p{
  @apply text__base my-2.5;
}
.banner__right--image {
  @apply mt-12 relative;
  /* max-height: 25.0625rem; */
}
.banner__right--image > span{
  max-width: 85% !important;
  right: 0 !important;
  left: inherit !important;
  width: 100% !important;
}
.style--banner .logo--slider{
  padding-bottom: 2%;
  margin-left: -4%;
  margin-right: -4%;
}
.slider__title {
  color: #fff;
  font-weight: 600;
  z-index: 999;
  position: relative;
  font-size: 1.25rem;
  padding-bottom: 1.125rem;
}
.slider__title h5{
  letter-spacing: -0.01em;
}
.react-multi-carousel-item  {
  @apply px-0 text-center;
}
.react-multiple-carousel__arrow{
  @apply hidden;
}

/* Sections styling */
.section{
  @apply p-5;
  margin: 3.125rem 0;
}
.section.has--bg{
  margin: 0;
}
.section.has--no--bg{
  background: none;
}
.section--hgroup{
  @apply mb-5;
}
.subtitle.section--subtitle h3 {
  @apply small__text;
}
.title.section--title p{
  @apply large__text;
}
.banner__content .subtitle.section--subtitle h3{
  @apply text-white;
}

/* Text section */


/* Featured sections */
.feed--lists {
  @apply main__grid;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}
.feed--items--wrapper {
  @apply rounded-md overflow-hidden relative h-full;
  background: #f9f9f9;
}
.feed--items--wrapper:hover{
  @apply text-white;
}
.feed--item--image {
  @apply absolute inset-0 opacity-0;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.feed--item--image:after{
  content: "";
  position: absolute;
  background-color: rgba(23, 22, 26, 0.45);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.feed--item--image span {
  height: 100% !important;
  width: 100% !important;
}
.feed--item--image img {
  height: 100%;
  width: auto;
  left: 50% !important;
  transform: translateX(-50%);
  max-width: inherit;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.feed--item--content {
  @apply relative;
}
.feed--items--wrapper:hover .feed--item--image {
  opacity: 1;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.feed--hgroup {
  display: grid;
  grid-template-columns: 2.875rem auto;
  column-gap: 0.9375rem;
  padding: 4.4vh;
}
.feed--logo {
  width: 3rem;
}
.feed--logo img{
  @apply w-full rounded-full;
}
p.meta--author,
p.meta--date,
.feed--category a {
  @apply smaller__link--text m-0;
}
.feed--text--wrap {
  padding: 0 4.4vh 4.4vh;
}
.feed--category a:hover{
  color: #c80700;
}
.feed--text{
  @apply mt-2.5;
}
.text--headline{
  @apply lg--text;
}
.text--headline a:hover{
  color: #fff;
}
.text--content{
  @apply mt-2.5 mb-0;
}

/* Feed style -2 */
.feed--section--style-2 .feed--hgroup {
  padding-bottom: 1.25rem;
}
p.meta--desc {
  margin: 0;
  font-weight: 600;
  max-width: 14rem;
  line-height: 1.65rem;
}
.feed--section--style-2 .feed--text--wrap {
  padding-top: 0;
  padding-bottom: 0;
}
.feed--section--style-2 .feed--items--wrapper {
  background: none;
}
.feed--section--style-2 .feed--items--wrapper:hover {
  color: inherit;
}


/* Infographic section */
.infographic__list {
  @apply main__grid;
  column-gap: .83rem;
  row-gap: .83rem;
  margin-top: 3rem;
}
.infographic__list--item {
  background: #f9f9f9;
  border-radius: 0.4375rem;
  padding: 0.625rem;
}
.infographic__icon {
  margin-bottom: 0.938rem;
  width: 3.125rem;
  height: 3.125rem;
}
.infographic__title {
  margin: 0.325rem 0;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
}


/* Two column section */
.two--column--section{
  background-color: #f9f9f9;
}
.two--column--section.has--bg{
  padding-top: 8vh;
  padding-bottom: 7vh;
}
.two--column--section.has--bg .btn{
  padding-top: 0.625rem;
}
.two--column--section .section__wrapper{
  @apply main__grid py-5;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}
.section--column__content.bg-white{
  padding: 0.9375rem;
  border-radius: 0.4375rem;
}
.meta--author--image {
  width: 3.75rem;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  height: 3.75rem;
  margin-bottom: .9375rem;
}
.meta--author--image span {
  width: 100% !important;
  height: 100% !important;
}
.meta--author--image img {
  width: 100%;
}

/* Blockquote */
.blockquote__title {
  margin: 0.3125rem 0;
  font-weight: 600;
  font-size: 1.116rem;
}
blockquote p{
  @apply mt-0 mb-10;
  font-size: 1.0625rem;
}
blockquote p:last-child{
  @apply mb-5;
}
p.author--name {
  font-size: 1.05em;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: 700;
  margin: 0;
}
p.author-desi {
  margin: 0;
}


/* Subscribe */
.subscribe__bg{
  background-image: url(/images/oh__img147.jpg);
  @apply text-white bg-center;
}
.subscribe__bg:before{
  background: #000;
  opacity: 0.7;
}
.subscribe__bg .section__wrapper{
  @apply relative;
}
.subscribe__bg .subtitle.section--subtitle h3{
  color: #fff;
}

/* Footer Css */
.site-info-holder a, .site-info-holder .left {
  font-size: 0.94rem;
  line-height: 1.65;
}
.siteFooter{
  background-color: #17161a;
  @apply py-0;
}
.site-footer .page-container + .site-info .site-info-holder {
  border-top: 1px solid rgba(136, 136, 136, 0.15);
}
.site-footer .site-info-holder {
  padding-top: 0.68rem;
  padding-bottom: 0.68rem;
}
.footerCol ul li a{
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  color: rgba(255,255,255,0.8);
  display: block;
}
.footerCol ul li a span {
  width: 100% !important;
  height: 100% !important;
}
.site__navigation ul li a.active,
a:hover{
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  color: #d90a2c;
}
.site-info-holder{
  color: rgba(255,255,255,0.8);
  border-top: 0.0625rem solid rgba(136, 136, 136, 0.15);
  padding-top: 3.4vh;
  padding-bottom: 3.4vh;
}
.site-info-holder a:hover{
  color: #c80700;
}
/* .footerCol{
  padding-bottom: .338rem;
} */
.footerCol p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding-top: 3.4vh;
  padding-bottom: 0.3125rem;
  color: rgba(255,255,255,0.8);
}
.title.widget-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  line-height: 1.65;
  color: #6a696c;
}
.footerLogo{
  @apply relative;
  width: 15.0625rem;
  height: 2.5rem;
  margin-bottom: 0.8rem;
  margin-top: -0.125rem;
}
.footerLogo img{
  @apply w-full;
  max-width: 15rem;
}
ul.footerNav li a {
  color: #fff;
}
.textwidget.custom-html-widget {
  color: rgba(255,255,255,0.8);
}
.socialIcon {
  @apply flex;
}
.socialIcon li {
  @apply w-8;
  width: 2rem;
  margin: 0.125rem;
}
.socialIcon li a img{
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  width: 100% !important;
}
.socialIcon li a:hover img{
  opacity: .5;
}
.divideFooter{
  @apply main__grid;
  column-gap: 2.555rem;
  row-gap: 2.555rem;
  padding-top: 8.8vh;
  padding-bottom: 8.8vh;
}
.footerCol ul li{
  line-height: 1.65;
}
.footerCol ul li a:hover{
  opacity: 0.5;
}


/* Contact form styling */
.form--label label {
  @apply block font-medium;
  font-size: 0.93rem;
}
.form--control {
  @apply w-full text-base;
  border: 1px solid #818a91;
  padding: 0.875rem 0.9375rem;
  border-radius: 0.4375rem;
}
.form--item {
  @apply mb-6;
}
.form--item.form--item--textarea .form--control {
  min-height: 7.5rem;
}
.form__item--grid {
  @apply main__grid;
  column-gap: 1.5rem;
}
.form--checkbox--label {
  font-size: 0.93rem;
  font-weight: 500;
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem .5rem 0 0;
}
.form--actions button {
  @apply text-white text-base font-bold py-3 px-4;
  background: #c80700;
  border-radius: 0.4375rem;
  transition: 0.3s;
}
.form--actions button:hover {
  opacity: 0.85;
}

/* Mobile Header css */
.mobile__header{
  position: relative;
}
.mobile__header .site__logo{
  @apply ml-10;
}
/* Burger menu css */
 /* Position and sizing of burger button */
 .bm-burger-button {
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  left: 2.5%;
  top: 2.3125rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #000;
  height: 17px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100% !important;
  left: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 100% !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}
.bm-item li a{
    padding: .5rem 0;
    display: block;
    color: #000;
    font-weight: 700;
}
.bm-item li a:hover,
.bm-item li a.active{
    color: #d90a2c;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}
.bm-item.copyright {
  font-weight: 400;
  font-size: 0.94rem;
  margin-top: 20px;
  white-space: pre-wrap;
  color: #000000;
}

/* Animated circle cursor */
.cursor {
  margin-left: -.25rem;
  margin-top: -.25rem;
  width: 2.75rem;
  height: 2.75rem;
  border: 0.125rem solid #d90a2c;
  box-sizing: border-box;
  z-index: 9999999;
  transition: all .1s ease-out;
  /* mix-blend-mode: difference; */
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  display: none;
}
.cursor:after{
  content: '';
  width: 0.375rem;
  height: 0.375rem;
  background-color:#d90a2c;
  box-sizing: border-box;
  z-index: 9999999;
  transition: all .2s ease-out;
  /* mix-blend-mode: difference; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.cursor--link.cursor:after{
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5 !important;
}


/*content list */
.mt-3vh{
  margin-top: 3vh;
}
.content--list li{
  @apply font-medium flex items-center;
  padding-bottom: 0.5rem;
  line-height: 1.65;
}
.content--list li:before{
  content: '';
  width: 0.5rem;
  margin-right: 1rem;
  height: 1rem;
  display: block;
  border: solid #c80700;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
}

.section--small-width{
  max-width: 40rem;
}
.section--ex--small-width{
  max-width: 30rem;
}
.infographic__list.full__width--list {
  grid-template-columns: repeat(1, 1fr);
}
.infographic--style-2 .infographic__list {
  grid-template-columns: repeat(1, 1fr);
}
.infographic--style-2 .infographic__list--item{
  padding: 4.4vh;
}

/* Accordian styling */
.accordian--list{
  margin-top: 1.25rem;
}
.accordian--list li .accor-head{
  margin-top: 1.25rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  font-weight: 500;
  cursor: pointer;
}
.accordian--list li .accor-head p{
  background-color: rgba(136, 136, 136, 0.05);
  width: 100%;
  font-weight: 700;
  min-height: 3.5rem;
  padding: 0.9375rem 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.accordian--list li .accor-head p:after{
  content: '+';
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}
.accordian--list li .accor-head p.active:after{
  content: '-';
}
.accordian--list .accor-data {
  margin-top: 0.25rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0.75rem;
  color: #222;
  font-weight: 500;
  padding-right: 3.5rem;
  padding-left: 2rem;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .5s ease;
}
.accor-data p span{
  font-weight: 600;
}
.accor-data p a {
  Font-weight: bold;	
}
.accordian--list .active--list .accor-data{
  height: fit-content;
  opacity: 1;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.accor-data ol {
  list-style: decimal;
  margin-left: 1em;
}
.accor-data ol li {
  margin-top: 1rem;
}


/* Responsive styling */
@media screen and (max-width: 47.999rem) {
  .desktop__header{
    @apply hidden;
  }
}
@media screen and (min-width: 48rem){
  .banner__wrapper{
    @apply banner__grid-lg;
  }
  .infographic--section .section--content{
    max-width: 88.076%;
  }
  .infographic__list, .divideFooter{
    @apply grid__2;
  }
  .mobile__header{
    @apply hidden;
  }
  .form__item--grid {
    @apply grid__2;
  }
  .header__wrap--inner{
    padding-bottom: 4.4vh;
    flex-wrap: wrap;
  }
  .banner__right--image {
    @apply flex justify-end mt-0 mb-0 relative;
    /* max-height: 25.0625rem; */
  }
  .banner__right--image > span{
    max-width: 100% !important;
    right: -0.1875rem !important;
  }
}
@media screen and (min-width: 60rem){
  .banner__content {
    max-width: 45.6rem;
  }
  /* .banner__right--image img {
    max-width: 61.113%;
  } */
  .feed--lists{
    @apply grid__3;
  }
  .infographic__list, .divideFooter{
    @apply grid__4;
  }
  .two--column--section .section__wrapper{
    @apply grid__2;
  }
  .infographic--style-3 .infographic__list{
    @apply grid__3;
  }
}
@media screen and (min-width: 64rem) {
  .header__wrap--inner{
    height: 14vh;
    padding-bottom: 0;
  }
  .cursor {
    @apply block;
  }
  p.meta--desc {
    font-size: 1.25rem;
  }
  .banner__right--image > span{
    max-width: 57% !important;
  }
  .banner__logo--slider {
    margin-top: 3.25rem;
  }
}
@media screen and (min-width: 80.0625rem){
  .site__width, .banner__wrapper{
    max-width: 73.75rem;
  }
}
@media screen and (min-width: 85.4375rem){
  .site__width, .banner__wrapper{
    max-width: 81.25rem;
  }
}
@media screen and (min-width: 100rem){
  .banner__title h3 {
    font-size: 3.375rem;
  }
  .text--headline{
    @apply lg--text--responsive;
  }
  .title.section--title p{
    @apply large__text--resposive;
  }
}
@media screen and (min-width: 121rem){
  html{
    font-size: 1vw;
  }
}
@media screen and (min-width: 64rem) and (max-width:81.5rem){
  .banner__right--image > span{
    height: 336px !important;
  }
  .banner--style-1{
    padding-top: 5.25%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1085.5px){
  .banner__logo--slider{
    margin-top: 2.25rem;
  }
}
.react-multi-carousel-item > div > span{
  display: flex;
  align-items: center;
}